.navbar{
    background-color:#11091a;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.posicao-navbar{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 10vh;
}

.navbar a{
    font-size: 1.10rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #F2F2F2;
   
}

.navbar a:hover{
    color: #f80174;
    transition: .4s;
}

.img-navbar{
    height: 100px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content a:hover {
    background-color: #f2f2f2;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #11091a;
    color: #f80174;
}