.navbar{
    background-color:#11091a;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.posicao-navbar{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 8vh;
}

.navbar a{
    font-size: 1.10rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #F2F2F2;
   
}

.navbar a:hover{
    color: #f80174;
    transition: .4s;
}

.img-navbar{
    height: 100px;
}